
scroll-behavior: smooth;

.links {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.links li{
    display:inline;
}

.links a{
    display:inline-block;
    padding:20px;
    padding-bottom: 25px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.word-link {
	text-decoration: none;
}

.hl {
	display: block;
    height: 1px;
    border: 1px;
    border-top: 1px solid #A6ACAD;
    margin: 1em 0;
    padding: 0;3px;
    top: 0;
    color: solid #A6ACAD;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    text-decoration: none;
    color: ##3366ff;
}

.boxed {
	border: none;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}

.hello {
	padding-top: 50px;
	padding-bottom: 100px;
}


.seperation {
	padding-top: 50px;
	padding-bottom: 50px;
}

.asian {
  border-radius: 50%;
  background-size: contain;
  width: 250px;
  height: 275px;
}

.button {
	list-style-type: none;
}

/* Can't figure out how to change the background color of the Send Message*/
.btn-send {
	background-color: #3366ff;
	color: #3366ff;
}